.ciencia {
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  margin: 0 auto;
  gap: 1rem;
  padding: 5rem 0;
}

.ciencia .cientista {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.ciencia .cientista p {
  font-size: 1.5rem;
  max-width: 100%;
}

.ciencia .cientista p span {
  color: var(--color-blue);
}

@media (max-width: 1300px) {
  .ciencia {
    padding: 4rem 2rem;
  }
}

@media (max-width: 950px) {
  .ciencia .cientista img {
    max-width: 25rem;
  }
}

@media (max-width: 750px) {
  .ciencia .cientista img {
    max-width: 20rem;
  }
}

@media (max-width: 670px) {
  .ciencia .cientista {
    flex-direction: column;
  }
  .ciencia .cientista img {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .ciencia {
    display: flex;
    flex-direction: column;
    max-width: 75rem;
    margin: 0 auto;
    gap: 1rem;
    padding: 2rem 2rem;
  }
}

@media (max-width: 300px) {
  .ciencia .cientista p {
    font-size: 1.25rem;
    max-width: 100%;
  }
}